PartnerBFF.Application.Test/bin/Debug/net8.0/Castle.Core.dll
PartnerBFF.Application/obj/
PartnerBFF.Application.Test/bin/
PartnerBFF.Application.Test/obj/
PartnerBFF.Application/bin/Debug/net8.0/PartnerBFF.Application.deps.json
PartnerBFF.Application/bin/
PartnerBFF.Infrastructure/obj/
PartnerBFF.Infrastructure/bin/
PartnerIntegration/.vs/
PartnerIntegration/bin/
PartnerIntegration/obj/
PartnerBFF.API/.vs/
PartnerBFF.API/bin/
PartnerBFF.API/obj/PartnerBFF.API.csproj.nuget.g.targets
PartnerBFF.API/obj/
