PartnerBFF.Application.Test/bin/Debug/net8.0/Castle.Core.dll
PartnerBFF.Application/obj/
PartnerBFF.Application.Test/bin/
PartnerBFF.Application.Test/obj/
PartnerBFF.Application/bin/Debug/net8.0/PartnerBFF.Application.deps.json
PartnerBFF.Application/bin/
PartnerBFF.Infrastructure/obj/
PartnerBFF.Infrastructure/bin/
